body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main_div{
  width: 100%;
  height: 100vh;
  background-color:#52595D ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div{
  width: 25%;
  height: 70vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 1) ;
  border-radius: 20px;
}

h1{
  background-color: slateblue;
  text-align: center;
  color: #f4f4f4;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -6px rgba(0, 0, 0, 0.5);

}


input{
  outline: 0;
  border-width: 0 0 3px;
  border-color: blueviolet;
  text-align: center;
  height: 30px;
  background: transparent;
  top: 10px;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
}
input:focus{
  border-color: chartreuse;
}
button{
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #8566aa;
  color: #f4f4f4;
  font-size: 30px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
button:hover{
  background-color: green;
}

ol{
  margin-top: 30px;
}
 
ol li{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .center_div{
    width: 55%;
  }
}